{% extends "auctions/layout.html" %}



{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}

            <li>
                <strong><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></strong><br>
                Description: {{ listing.description }}<br>
                Current Price: ${{ listing.current_price }}<br>
                
                {% if listing.photo %}
                    <img src="{{ listing.photo }}" alt="{{ listing.title }}" style="max-height:120px;">
                {% endif %}
            </li>
        {% empty %}
            <li>No active listings</li>
        {% endfor %}
    </ul>   
{% endblock %}