{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body class="header">
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as: <strong>{{ user.username }}</strong>
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'category' %}">Categories</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'closed_listings' %}">Closed Listings</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>

        <hr>
        {% if not user.is_authenticated %}
            <p class="text-center h5 my-4">
                <a href="{% url 'login' %}">Log in</a> to bid, comment, or add to your watchlist.
            </p>
        {% endif %}
        {% if message %}
            <div class="alert alert-danger" role="alert">Error: {{ message }}</div>
        {% endif %}
        
        <div class="container my-3">

            {% block body %}
            
            {% endblock %}

            {% block content %}
                {% if listings %}
                    {% for listing in listings %}
                        <a href="{% url 'listing' listing.id %}" class="text-reset text-decoration-none">
                            <div class="card mb-4 shadow hover-card">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-3">
                                        {% if listing.photo %}
                                            <img src="{{ listing.photo }}" class="thumbnail">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <h3 class="card-title mb-3">{{ listing.title }}</h3>     
                                            <p class="card-text mb-3">{{ listing.description }}</p>
                                            <p class="mb-3"><strong>Current Price:</strong> ${{ listing.current_price|floatformat:2 }}</p>
                                            <p class="text-muted">
                                                <small>Created: {{ listing.created }} by {{ listing.owner }}</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>    
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </div>
    </body>
</html>
